input {
    color: #EC0101;
    background-color: #F1F3DE;
    padding: 20px;
    width: 50vh;
    border: 1px solid #EC0101;
    border-radius: 6px;
}

input:focus {
    outline: none !important;
    border:1px solid #EC0101;
}

::placeholder {
    color: #EC0101
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #F1F3DE inset !important;
  -webkit-text-fill-color: #EC0101 !important;
}
